{% include 'userHeader.html' %}
<h2>Welcome to profile!</h2>
<p>Your visit history:</p>
<ul>
    {% for url in session.history %}
    <li>
        <a href="{{url}}" class="category-link">{{ url }}</a>
    </li>
    {% endfor %}
</ul>

<p>Your basket:</p>
{% if session.basket %}
<ul>
    {% for item in session.basket %}
    <li>
        <a href="?path=goods&id={{item.id}}" class="category-link">{{ item.name }}</a> / number: {{item.count}}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>empty</p>
{% endif %}
{% include 'userFooter.html' %}